body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 25px; /* Round boxes for the navigation links */
    margin: 5px; /* Add space between the round boxes */
}

/* Hover effect */
.navbar a:hover {
    background-color: #2e2e2e;
    color: white;
}

/* Active link */
.navbar a.active {
    background-color: #534caf;
    color: white;
}

/* Box shadow for the navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
